@model List<WebApplication2.Models.Content>
@{
    ViewBag.Title = "Nhật ký";
}
    @using (Ajax.BeginForm("delete", "admin", new AjaxOptions
    {
        UpdateTargetId = "post",
        LoadingElementId = "load",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div id="load" style="display: none; position: fixed; bottom: 15%; right: 10%;">Loading...</div>

        <button type="submit" style="position: fixed; bottom: 10%; right: 10%;" class="btn btn-outline-danger">Delete</button>
        foreach (var item in Model)
        {
            <input type="checkbox" name="id" style="float: right; margin-right: 10px; height: 20px; width: 20px;" value="@item.id" />
            string colorName = string.Empty;
            switch (item.id_color)
            {
                case "yellow":
                    colorName = "Thuốc Vàng";
                    break;
                case "pink":
                    colorName = "Thuốc Hồng";
                    break;
                case "light-violet":
                    colorName = "Thuốc Tím Nhạt";
                    break;
                case "red":
                    colorName = "Thuốc Đỏ";
                    break;
                case "violet":
                    colorName = "Thuốc Tím Đậm";
                    break;
                case "blue":
                    colorName = "Thuốc Xanh";
                    break;
                case "green":
                    colorName = "Thuốc Xanh";
                    break;
                default:
                    colorName = "Nhật ký";
                    break;
            }
            <a style="text-decoration: none;" href="~/admin/detail?id=@item.id">
                <div class="bound">
                    <div class="container">
                        <img src="@Url.Content(item.main_image)" alt="Alternate Text" loading="lazy" />
                    </div>
                    <div class="container">
                        <hr style="margin-top:25px;" />
                        <div class="d-flex align-items-center">
                            <div id="pill-wrapper">
                                <span style="border-radius: 0 20px 0 0 ; padding: 5px 5px 0 2px;  background-color: var(--@item.id_color)">
                                    <b>@colorName</b>
                                </span>
                                <span class="content" style="font-size: 17px; font-weight: 500; margin-top:5px;">@item.main_content</span>
                            </div>
                            <hr style="border: 1px dashed black; flex-grow: 1; margin-right:10px;" />
                            <div id="time-wrapper">
                                <span id="date-title"><b style="font-size: 14px;">Ngày đăng:</b></span>
                                <span>@(item.date_upload.Value.ToString("dd/MM/yyyy"))</span>
                            </div>
                        </div>
                        <div class="short_content">
                            <p> @Html.Raw(item.content1)</p>
                        </div>
                        <div class="d-flex">
                            <span style="margin-left:0;"><b style="font-size:14px;">Author:</b> @@Van_Vnice</span>
                            <hr style="border: 1px dashed black; max-width: 730px; flex-grow: 1;" />
                        </div>
                    </div>
                </div>
            </a>
        }

    }


    <div class="text-center mt-5 pt-5">
        <hr />
        <P><b>- THE END -</b></P>

    </div>
