@model WebApplication2.Models.Content
@{
    ViewBag.Title = "Chi tiết";
}
<link href="~/Content/DetailStyle.css" rel="stylesheet" />


<div class="detail p-3">
    <h1>@Model.main_content</h1>
    <p style="font-size: 14px;"> @Model.date_upload.Value.ToString("'Ngày' dd 'tháng' MM 'năm' yyyy")</p>
    <hr style="border: 1px dashed #6f6f6f;" />
    <p style="margin-bottom: 0;"><b style="font-size:14px;">Author:</b> @@Van_Vnice</p>
    <p><b style="font-size:14px;">Topic color: </b><span style="border-radius: 20px; padding: 5px 10px; background-color: var(--@Model.id_color)">@Model.id_color</span></p>
    <hr style="background: #6f6f6f; width: 100px; height: 1px; border: none;" />
    <img id="main_image" src="@Url.Content(Model.main_image)" alt="Alternate Text" />
    <hr style="border: 1px dashed #6f6f6f" />
    <div class="content">
        @Html.Raw(Model.content1)
    </div>
    <hr style="background: #6f6f6f; width: 200px; height: 1px; border: none;" />
    <p style="margin:5px 0;"><b style="font-size:14px;">Van_Vnice</b></p>
    <p>&copy; @DateTime.Now.Year - Đức Vấn</p>
    <p>
        <a href="/diary/index"> ⬸ Quay lại</a>
    </p>

</div>

