<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Ngăn flash of unstyled content -->
    <script>
        // Kiểm tra theme ngay lập tức
        const theme = localStorage.getItem('theme');
        if (theme === 'dark') {
            document.documentElement.classList.add('dark-theme');
        }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/favicon.svg" rel="icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>

</head>

<body>
    <div id="loader" class="text-center">
        <p style="padding-top: 10rem;">I'm loading, just chill ...</p>
    </div>
    <div class="page-content" style="max-width: 800px; margin: 0 auto; padding: 50px 10px 300px; display: none;">
        @RenderBody()
        <nav class="container p-3 mt-5 fixed-bottom" style="max-width: 550px;">
            <div class="icon-bar w-100">
                <a href="/diary/index" title="Home"><i class="fa fa-home"></i></a> |
                <a href="/" title="About"><i class="fa fa-user"></i></a>
                <a href="/diary/gallery" title="Gallery"><i class="fa fa-image"></i></a>
                <a id="theme-toggle" title="Theme"><i class="fa fa-sun"></i></a>|
                <a title="Hide"><i class="fa fa-chevron-down"></i></a>
            </div>

        </nav>
        <div class="fixed-bottom nav_show text-center" style="display: none;">
            <a><i class="fa fa-chevron-up"></i></a>
        </div>

    </div>

    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $(window).on('load', function () {
                $('#loader').hide();
                $('.page-content').show();
        });
        $(document).ready(function () {
            const html = document.documentElement;
            $('#theme-toggle').on('click', function (e) {
                if (localStorage.getItem('theme') === 'dark') {
                    localStorage.removeItem('theme');
                    html.classList.remove('dark-theme');
                } else {
                    localStorage.setItem('theme', 'dark');
                    html.classList.add('dark-theme');
                }
            });
            if (localStorage.getItem('nav') === 'hide') {
                $('nav').hide();
                $('.nav_show').show();
            }
            $('.fa-chevron-down').on('click', function () {
                $('nav').hide();
                $('.nav_show').show();
                localStorage.setItem('nav', 'hide');
            });

            $('.fa-chevron-up').on('click', function () {
                $('nav').show();
                $('.nav_show').hide();
                localStorage.removeItem('nav');
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>